<h2><%= @song.title %></h2>
<h3>By: <%= @song.artist.name %></h3>

Album: <%= @song.album %></br>
Preview_url: <%= @song.preview_url %></br>
Price: <%= @song.price %></br>

<%= link_to('Edit', edit_song_path(@song)) %> |
<%= link_to('Back to Songs', songs_path) %> |
<form action="/songs/<%= @song.id %>/delete" method="post">
  <input type="submit" value="Delete Song">
</form>
